html {
	text-align: center;	
}

body {
	height: 300px;
	width: 504px;
	padding: 0;
	margin: 0 auto;
}

#carousel {
	margin: 0 50px;
	width: 400px;
	height: 300px;
	border: 2px solid violet;
	overflow: hidden;
	padding: 0;
}

ul {
	width: 2000px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
	width: 400px;
	height: 300px;
}

img {
	width: 400px;
	height: 300px;
}

#prevbtn {
	float: left;
	height: 50px;
	width: 50px;
	font-size: 30px;
	position: relative;
	top: calc(50% - 25px);
}

#nextbtn {
	float: right;
	height: 50px;
	width: 50px;
	font-size: 30px;
	position: relative;
	top: calc(-50% - 25px);
}